@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    /* background-color: aqua; */
    margin: 0 auto;
}

header {
    background-color: #F9003D;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

.nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: beige; */
    width: 590px;
    height: 100%;
}
.nav_header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}

.container_header {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.btn_menu {
    display: none;
}

.fundo_banner {
    width: 100%;
}

main {
    margin-top: 60px;
}

.container_banner {
    position: relative;
    height: 780px;
}

.box_cont_banner {
    position: absolute;
    top: 226px;
    left: 120px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 96px;
    font-weight: 400;
    width: 545px;
}

hr {
    border-color: #ffaf00;
}

.box_cont_banner span {
    color: #F9003D;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    margin: 20px 0;
}
.box_cont_banner img {
    width: 37px;
}

.container_sobre {
    background-color: #080324;
    height: 800px;
}

.container_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.container_sobre h2 {
    color: #F9003D;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 64px;
}

.box_part {
    color: #fff;
}

.box_sobre {
    display: flex;
    justify-content: space-between;
}
.box_part span{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.box_part h3 {
    color: #ffaf00;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 64px;
    width: 557px;
    margin: 20px 0;
}

.box_part p {
    font-family: 'Open Sans', sans-serif;
    width: 592px;
    font-size: 18px;
    line-height: 25px;
}

.info {
    background-image: url(../img/imagem-fundo-info.png);
}

.container_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 194px;
}

.info h2 {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.info span {
    color: #a259f7;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
}

.box_span {
    width: 289px;
    height: 100px;
    border: 1px solid #a259f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endereco {
    background-image: url(../img/imagem-fundo-endereco.png);
    height: 516px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.endereco h2{
    font-size: 64px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: #ffaf00;
    width: 899px;
    margin-bottom: 20px;
}

.endereco p {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: #a259f7;
    width: 435px;
    margin-left: 66px;
}

.box_endereco {
    display: flex;
    width: 899px;
    height: 203px;
    background-color: #010010;
    border: 2px solid #340b65;
    align-items: center;
}

.img_mapa {
    position: absolute;
    top: 95px;
    right: 566px;
}

footer {
    background-color: #F9003D;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
}


 @media (max-width: 420px) {
     .container {
         width: 80vw;
     }

     .btn_menu {
         display: inline-block;
     }

     .btn_menu i {
         color: #fff;
         font-size: 35px;
     }

     .nav_header {
         display: none;
         position: absolute;
         background-color: black;
         flex-direction: column;
         height: 300px;
         width: 100%;
         top: 60px;
         left: 0;
         justify-content: space-evenly;
     }

     .container_header {
         justify-content: flex-start;
         align-items: center;
     }

     .container_banner {
         display: flex;
         justify-content: center;
         height: 600px;
     }

     .box_cont_banner {
         left: 0;
         align-items: center;
         top: 120px;
     }

     .box_cont_banner span {
         font-size: 35px;
         margin-top: 10px;
     }

    .fundo_banner{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    h1 {
        width: 90%;
        font-size: 60px;
        text-align: center;
    }

    hr {
        width: 90%;
        margin: 30px 0;
    }

    .box_cont_banner img{
        width: 45px;
        margin-top: 35px;
    }

    .container_sobre {
        height: auto;
    }
    
    .box_sobre {
        flex-direction: column;
    }

    .img_box_sobre {
        width: 80vw;
    }

    .container_sobre h2 {
        font-size: 56px;
        margin: 50px 0;
    }

    .box_part h3 {
        width: auto;
        font-size: 37px;
    }

    .box_part p {
        width: auto;
        text-align: justify;
    }

    .box_part {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .container_info {
        flex-direction: column;
        height: 600px;
        justify-content: space-evenly;
    }

    .endereco h2 {
        width: unset;
    }

    .img_mapa {
        position: unset;
        width: 80vw;
        margin-bottom: 45px;
    }
    
    .box_endereco {
        width: 80vw;
        height: unset;
        padding: 60px 40px;
    }

    .endereco p {
        margin-left: 0;
    }

    .endereco {
        height: 800px;
        justify-content: space-evenly;
    }

    footer span {
        width: 80vw;
        text-align: center;
    }
}   